<aside class="blog-sidebar">
  <div class="widget">
    <div class="sidebar-search-form position-relative">
      <form action="#">
        <input type="text" placeholder="Pesquisar">
        <button><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="widget">
    <h4 class="widget-title">Explorar Categorias</h4>
    <ul class="list-wrap">
      <li><a href="#">Segurança</a><span class="float-right">3</span></li>
      <li><a href="#">OSINT</a><span class="float-right">1</span></li>
      <li><a href="#">Investigação Digital</a><span class="float-right">1</span></li>
      <li><a href="#">Marketing</a><span class="float-right">0</span></li>
      <li><a href="#">Desenvolvimento</a><span class="float-right">0</span></li>
      <li><a href="#">Inovação</a><span class="float-right">0</span></li>
    </ul>
  </div>
  <div class="widget">
    <h4 class="widget-title">Recent Posts</h4>
    <div class="rc-post">
      <div class="rc-post-thumb">
        <a href="../../../blog/artigo/investigacao-digital/jovem-classe-media-de-venancio-aires-tentando-aplicar-golpes-em-grupos-de-emprego-no-watsapp.html">
          <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677470762/Blog/suspeito_no_whatsapp-thumb_erwtwl.jpg" alt="img">
        </a>
      </div>
      <div class="rc-post-content">
        <h4 class="title"><a href="../../../blog/artigo/investigacao-digital/jovem-classe-media-de-venancio-aires-tentando-aplicar-golpes-em-grupos-de-emprego-no-watsapp.html">Jovem de classe média aplicando golpes no whatspp</a></h4>
        <div class="rc-post-date">
          <i class="far fa-calendar-alt"></i>
          1º de Março de 2023
        </div>
      </div>
    </div>
    <div class="rc-post">
      <div class="rc-post-thumb">
        <a href="../../../blog/artigo/seguranca/5-sugestoes-para-nao-cair-em-golpes-na-internet-em-2023.html">
          <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677460944/Blog/Roubo_de_Dados_e_Arquivos_Digitais_5-thumb_jb1mbc.jpg" alt="img">
        </a>
      </div>
      <div class="rc-post-content">
        <h4 class="title"><a href="../../../blog/artigo/seguranca/5-sugestoes-para-nao-cair-em-golpes-na-internet-em-2023.html">5 sugestões para não cair em golpes na internet em 2023</a></h4>
        <div class="rc-post-date">
          <i class="far fa-calendar-alt"></i>
          22 Fevereiro de 2023
        </div>
      </div>
    </div>
    <div class="rc-post">
      <div class="rc-post-thumb">
        <a href="../../../blog/artigo/seguranca/vale-a-pena-usar-osint-em-recursos-humanos.html">
          <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677468968/Blog/OSINT_Compliance_Recursos_Humanos_2_thumb_dczuv6.jpg" alt="img">
        </a>
      </div>
      <div class="rc-post-content">
        <h4 class="title"><a href="../../../blog/artigo/seguranca/vale-a-pena-usar-osint-em-recursos-humanos.html">Por que utilizar OSINT em Recursos Humanos</a></h4>
        <div class="rc-post-date">
          <i class="far fa-calendar-alt"></i>
          15 Fevereiro de 2023
        </div>
      </div>
    </div>
    <div class="rc-post">
      <div class="rc-post-thumb">
        <a href="../../../blog/artigo/seguranca/seu-site-esta-protegido-contra-vazamento-de-dados.html">
          <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677500322/Blog/Roubo_de_Dados_e_Arquivos_Digitais-thumb_vfdiey.jpg" alt="img">
        </a>
      </div>
      <div class="rc-post-content">
        <h4 class="title"><a href="../../../blog/artigo/seguranca/seu-site-esta-protegido-contra-vazamento-de-dados.html">Seu site está seguro contra vazamento de dados?</a></h4>
        <div class="rc-post-date">
          <i class="far fa-calendar-alt"></i>
          08 de Dezembro de 2022
        </div>
      </div>
    </div>
  </div>
  <div class="widget">
    <h4 class="widget-title">Tags Populares</h4>
    <div class="tagcloud">
      <a href="./#">Sem Categoria</a>
      <a href="./#">Cyber Sgurança</a>
      <a href="./#">OSINT</a>
      <a href="./#">Desenvolvimento</a>
      <a href="./#">Digital</a>
      <a href="./#">Marketing</a>
      <a href="./#">Inovação</a>
    </div>
  </div>
</aside>
