<footer class="footer-area footer-bg" data-background="https://res.cloudinary.com/dll7iqunz/image/upload/v1677197894/img/bg/footer_bg_lkju46.jpg">
  <div class="container">
    <div class="footer-top-wrap">
      <div class="row justify-content-between">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="./">
            <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677211409/img/logo/indianaBytesLogo-v1_exseen.png" title="Indiana Bytes - Caçadores de dados escondidos" alt="Logo Indiana Bytes - Caçadores de dados escondidos">
          </a>
          <div class="footer-widget">
            <div class="footer-contact-info">
              <h4 class="number">+55 (31) 94483-2666</h4>
              <h4 class="email">investigacaoweb@gmail.com</h4>
              <p>Rua José Amâncio, 666 - Porta do Céu<br> São Lourenço / MG</p>
              <ul class="footer-social list-wrap">
                <li><a href="https://www.facebook.com/investigacaoweb" title="Siga-nos no Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/indianabytes" title="Siga-nos no Twittter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/indianabytes/" title="Siga-nos no Instagram"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-4 column-2">
          <div class="footer-widget">
            <h4 class="fw-title">Links Rápidos</h4>
            <ul class="footer-link">
              <li><a href="./#quem-somos" title="Quem Sonos">Quem Somos</a></li>
              <li><a href="https://forms.gle/BDeNnngbo6cMtgvU7" title="Estudo de Caso">Estudo de Caso</a></li>
              <li><a href="./termos-de-uso.html" title="Termos e Condições de Uso">Termos e Condições</a></li>
              <li><a href="./politica-de-privacidade.html" title="Política de Privacidade">Política de Privacidade</a></li>
              <li><a href="https://tawk.to/chat/63f817744247f20fefe251e5/1gq0hn89q" title="Chat Ao Vivo">Chat Ao Vivo</a></li>
              <li><a href="https://indianabytes.tawk.help/" title="Central de Ajuda">Central de Ajuda</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-4 column-3">
          <div class="footer-widget">
            <h4 class="fw-title">Nossos Serviços</h4>
            <ul class="footer-link">
              <li><a href="./analise-de-vulnerabilidades.html" title="Pentest">Pentest</a></li>
              <li><a href="./investigacao-digital.html" title="Investigação Digital">Investigação Digital</a></li>
              <li><a href="./analise-de-compliance.html" title="Compliance">Compliance</a></li>
              <li><a href="./investigacao-digital.html" title="Infidelidade Conjugal">Infidelidade Conjugal</a></li>
              <li><a href="./investigacao-digital.html" title="Provas Digitais">Provas Digitais</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-xl-3 col-lg-4 col-md-6 col-sm-7 text-left">
          <div class="footer-widget">
            <a href="https://forms.gle/X7Fg34av99HpyoHX6" class="btn">Inscreva-se em nossa Newsletter<span class="shape"></span></a>
            <p class="newsletter-alert"><span>*</span> Não se preocupe, não enviamos spam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrap">
          <p class="copyright-text">Copyright © 2023 &mdash; Design e programação por <a href="https://tawk.to/sergio.madrolan" title="Dúvidas ? Chama no chat">Sérgio Marcondes Drollan B.S (Madrollan)</a> - Hospedado no Github Pages &mdash; Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
