  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Indiana Bytes -  Caçadores de Dados Escondidos</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dll7iqunz/image/upload/v1677212627/img/logo/favicon_bb5ts7.png">
  <link rel="icon" href="favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197168/css/bootstrap.min_lc6d5u.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197167/css/animate.min_xekb5i.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197165/css/magnific-popup_wefccu.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197165/css/odometer_quaeax.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197165/css/slick_nmism0.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197167/css/default_z4g1fg.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197167/css/style_zcw7kw.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dll7iqunz/raw/upload/v1677197165/css/responsive_clnuks.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>