    <div id="sticky-header" class="menu-area transparent-header header-style-two">
      <div class="container custom-container">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
              <nav class="menu-nav">
                <div class="logo">
                  <a href="index.html">
                    <img src="https://res.cloudinary.com/dll7iqunz/image/upload/v1677211409/img/logo/indianaBytesLogo-v1_exseen.png" alt="Logo">
                  </a>
                </div>
                <div class="navbar-wrap main-menu d-none d-lg-flex">
                  <ul class="navigation">
                    <li class="active menu-item-has-children"><a href="#">Home</a>
                      <ul class="sub-menu">
                        <li class="active"><a href="index.html">Home One</a></li>
                        <li><a href="index-2.html">Home Two</a></li>
                        <li><a href="index-3.html">Home Three</a></li>
                      </ul>
                    </li>
                    <li><a href="about-us.html">About</a></li>
                    <li class="menu-item-has-children"><a href="#">Services</a>
                      <ul class="sub-menu">
                        <li><a href="services.html">Our Services</a></li>
                        <li><a href="services-details.html">Services Details</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Pages</a>
                      <ul class="sub-menu">
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="404.html">404 Page</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Shop</a>
                      <ul class="sub-menu">
                        <li><a href="shop.html">Our Shop</a></li>
                        <li><a href="shop-details.html">Shop Details</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog.html">Blog Standard</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">contacts</a></li>
                  </ul>
                </div>
                <div class="header-social">
                  <ul>
                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                    <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                  </ul>
                </div>
                <div class="offcanvas-btn">
                  <a href="#"><img src="assets/img/icons/dots.png" alt="Icon"></a>
                </div>
              </nav>
            </div>
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
              <nav class="menu-box">
                <div class="close-btn"><i class="fas fa-times"></i></div>
                <div class="nav-logo"><a href="index.html"><img src="assets/img/logo/logo.png" alt="" title=""></a>
                </div>
                <div class="menu-outer">
                  <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="social-links">
                  <ul class="clearfix">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="menu-backdrop"></div>
            <!-- End Mobile Menu -->
          </div>
        </div>
      </div>
    </div>